%header.app-header
  .app-header-logo
    %a{href: '/'}
      miningup hotel
  - if current_user
    .app-header-user
      %br
      %p.text-info
        = current_user.email
      %p
        %a{href: '/templates'}
          шаблоны
      %p
        %a.text-danger{href: '/users/sign_out'}
          выйти
