.header
  .cont
    .header-logo
      = image_tag('logo.svg')
      .header-logo-hotel
        hotel
    .header-controls
      - if current_user
        .header-controls-email
          = current_user.email
        .header-controls-templates
          %a{href: '#', id: 'js-templates'}
            ШАБЛОНЫ
        .header-controls-logout
          %a{href: '/users/sign_out'}
            ВЫЙТИ
