.place-stats
  .stat
    .sq.suc
    %span.value
      = place.success_count
  .stat
    .sq.warn
    %span.value
      = place.warning_count
  .stat
    .sq.err
    %span.value
      = place.error_count
