@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic-ext")

body
  font-family: 'PT Sans', sans-serif
  margin: 0

button,
input
  font-family: 'PT Sans', sans-serif

.cont
  width: 950px
  margin: auto

.controls
  margin: 140px 0 40px
  display: flex
  align-items: center
  h1
    font-weight: bold
    margin-right: 32px
  & > *
    margin-right: 20px
  button
    border: none
    background: red
    height: 38px
    line-height: 38px
    border-radius: 4px
    padding: 0 14px
    color: #fff
    text-transform: uppercase
    font-size: 14px
    cursor: pointer
    &.edit
      background: #00CEFD
    &.reboot
      background: #068BE0

.t
  &-head
    .t-row
      color: #292929
      text-transform: uppercase
      background: transparent !important
  &-body
    .t-col
      &-temp
        color: #CB1010
  &-row
    display: flex
    &:nth-child(2n+1)
      background: #F9F9F9
  &-col
    flex: 1
    // border: 1px solid rgb(152, 149, 255)
    min-height: 50px
    align-items: center
    // justify-content: center
    display: flex
    color: #494949
    font-size: 16px
    &:not(:last-child)
      margin-right: 28px
    &-checkbox
      justify-content: center
      width: 50px
      flex: none
      &-success
        background: #ADE8C1
      &-warning
        background: #FFE59D
      &-danger
        background: #FFB3B3
    &-model
      width: 120px
      flex: none
    &-hashrate
      width: 100px
      flex: none
    &-lastupd
      width: 270px
      flex: none
      position: relative
      .t-col-controls
        position: absolute
        right: 13px
        top: 13px
        i
          &:first-child
            margin-right: 16px
          &:before
            color: #A9A9A9
          &:hover:before
            color: #757575


.select
  width: 160px
  height: 38px

.header
  height: 70px
  position: fixed
  top: 0
  left: 0
  right: 0
  background: #303030
  z-index: 10
  .cont
    display: flex
    height: 70px
    justify-content: space-between
    align-items: center
  &-logo
    height: 34px
    display: flex
    img
      display: block
      height: 34px
      margin-right: 9px
      margin-top: 4px
    &-hotel
      font-size: 32px
      line-height: 34px
      color: #CFFCFF
      text-shadow: 0 0 4px #91D3FF
      font-weight: 100
  &-controls
    display: flex
    align-items: center
    color: #AEAEAE
    font-size: 14px
    a
      color: #AEAEAE
    &-email, &-templates
      margin-right: 32px
      &:hover a
        color: #fff
        text-decoration: none
    &-logout
      a
        background: #515151
        border-radius: 4px
        padding: 12px
        line-height: 1em
        cursor: pointer
        display: block
        height: 100%
        &:hover
          background: #575757
          color: #fff
          text-decoration: none

.check
  position: relative
  width: 20px
  height: 20px

.check label
  background-color: #fff
  border: 1px solid #D0D0D0
  border-radius: 4px
  cursor: pointer
  height: 20px
  left: 0
  position: absolute
  top: 0
  width: 20px

.check label:after
  border: 2px solid #66bb6a
  border-top: none
  border-right: none
  content: ""
  height: 6px
  left: 4px
  opacity: 0
  position: absolute
  top: 6px
  transform: rotate(-45deg)
  width: 12px

.check input[type="checkbox"]
  visibility: hidden

.check input[type="checkbox"]:checked + label
  // background-color: #66bb6a
  // border-color: #66bb6a

.check input[type="checkbox"]:checked + label:after
  opacity: 1


.popup
  padding: 20px
  h2
    font-size: 50px
  &-alert
    width: 100%
    padding: 10px
    text-align: center
    text-transform: uppercase
    color: #292929
    font-size: 14px
    margin: 20px 0
    p
      margin: 0
      line-height: 28px
    &-info
      background: #D1ECF1
      color: #015261
    &-danger
      background: #f8d7da
      color: #721c24
  label
    text-transform: uppercase
  &-section
    margin: 20px 0
  &-footer
    margin-top: 30px
    text-align: right
    button:last-child
      margin-left: 16px

.button
  height: 38px
  line-height: 38px
  padding: 0 16px
  border-radius: 4px
  border: none
  color: #fff
  font-size: 14px
  text-transform: uppercase
  &-cancel
    background: #515151
  &-submit
    background: #068BE0
