@media (max-width: 990px)
  .cont
    width: 860px


@media (max-width: 890px)
  .cont
    width: 760px


@media (max-width: 790px)
  .cont
    width: 660px

// // ===========================================
//
// @media (max-width: 690px)
//   .cont
//     width: 560px
//
//
// @media (max-width: 590px)
//   .cont
//     width: 100%
//     padding-left: 10px
//     padding-right: 10px
//     box-sizing: border-box
