@media (max-width: 990px)
  .cont
    width: 860px


@media (max-width: 890px)
  .cont
    width: 760px
  .t-col
    &:not(:last-child)
      margin-right: 10px
    &-lastupd
      width: 205px


@media (max-width: 790px)
  .cont
    width: 660px
  .t-col-info
    display: none !important
  .t-col-temp
    flex: 1
  .modal-dialog
    max-width: 90% !important
  .header-controls-email
    display: none
  section#hotel
    .cont p
      padding: 0
    .desc
      width: 100%
      padding: 0 !important

// // ===========================================
@media (max-width: 690px)
  .cont
    width: 600px
  section#hotel
    .hotel-icon
      display: block
      &-item
        margin: 0 0 30px
        display: flex
        align-items: center
        img
          width: 60px
          margin: 0 40px 0 0
        h3
          flex: 1
          text-align: left
    .reverse img
        order: 1
    .reverse h3
        order: 2
    .container > img
      width: 80%

@media (max-width: 590px)
  .cont
    width: 100%
    padding-left: 10px
    padding-right: 10px
    box-sizing: border-box
