%p
  Привет, #{@resource.name || @resource.email}!
%p Вы запросили восстановление пароля. Перейдите по ссылке ниже.
%p= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token)
%p Если это не вы - игнорируйте это письмо.
%p Ваш пароль не изменится, пока вы не перешли по этой ссылке.
